<div class="card-top container-fluid">
    <div class="container d-flex" style="border-bottom: 1px solid gainsboro;">
        <div class="item">
            <a>
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img style="width: 62px; margin-top: 5px;"
                    src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50"
                    alt="">
                <h6>Jewllery</h6>
            </a>
        </div>
    </div>

    <div class="container mt-5"
        style="display: flex;  flex-direction: column; justify-content: center; width: 50%; margin-bottom: 10px;">
        <div class="item-card" style="border: 1px solid rgb(224, 219, 228); padding: 10px 20px; margin-right: 15px; "
            *ngFor="let product of productList">
            <img src={{product.image}} alt="" style="width: 30px;">
            <h4>{{product.title}}</h4>
            <p>{{product.description}}</p>
            <h5>price: <span style="font-size: 14px;">${{product.price}}</span></h5>
            <button class="btn btn-primary" style="width: 60%;" (click)=addToCart(product)>Add to Cart</button>
        </div>
        <!-- <div class="item-card" style="border: 1px solid rgb(224, 219, 228); padding: 10px 20px; margin-right: 15px;">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, praesentium.</p>
            <h5>price: <span style="font-size: 14px;">$1000.99</span></h5>
            <button class="btn btn-primary" style="width: 60%; ">Add to Cart</button>
        </div>
        <div class="item-card" style="border: 1px solid rgb(224, 219, 228); padding: 10px 20px;">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, praesentium.</p>
            <h5>price: <span style="font-size: 14px;">$1000.99</span></h5>
            <button class="btn btn-primary" style="width: 60%; ">Add to Cart</button>
        </div> -->
    </div>
</div>